* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.w-80 {
    width: 80%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

.my-30 {
    margin: 30px 0;
}

.container {
    margin: 0 auto;
}

.borded {
    border: 2px solid #f3f3f3;
}

.text-center {
    text-align: center;
}










/* specifics */
body {
    font-family: "Inter";
    font-size: 16px;
}

header {
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.logo {
    width: 100px;
}


.menu-item {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    transition: .3s;
}


.menu-link:hover {
    color: #0061fe;
}

.btn {
    padding: 5px 10px;
    border: none;
    font-family: "Inter";
    text-align: center;
}

.btn-primary {
    background-color: #0061fe;
    color: white;
}

.jumbo {
    background-color: #b4d0e6;
    padding-top: 150px;
}

.jumbo-content {
    margin: 0 auto;
}

.title {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 50px;
}

.jumbo .btn {
    padding: 10px 20px;
}

.arrow {
    font-size: 40px;
    margin-top: 70px;
}

.jumbo-visual {
    max-width: 800px;
}

.hr {
    margin: 50px 0;
    height: 2px;
    background-color: #f3f3f3;
}

.subtitle {
    font-size: 50px;
    margin-bottom: 50px;
}

input[type="radio"] {
    margin-right: 5px;
}

.input-plan span {
    margin-right: 30px;
}

.plan {
    align-items: stretch;
    margin: 50px 0;
}

.plan-type {
    padding: 10px;
}

.plan-info {
    padding: 50px 30px;
}

.plan-name {
    font-size: 30px;
    margin-bottom: 20px;
}

.plan-prize {
    font-weight: 600;
    margin-bottom: 20px;
}

.currency {
    color: gray;
    margin-bottom: 50px;
}

.service-icon {
    margin-right: 10px;
}

.service-description {
    margin-bottom: 20px;
}

.plan-info .btn {
    padding: 20px;
}

.blue-link  {
    color: blue;
    text-decoration: underline;
}

.function li{
    list-style-type: none;
    margin-bottom: 20px;
}

.list-title {
    font-weight: 600;
}

.list-check {
    color: #0061fe;
    font-weight: 900;
}