* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.gap-30 {
    gap: 30px;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-33 {
    width: 33%;
}

.w-30 {
    width: 30%;
}

.my-30 {
    margin: 30px 0;
}

.container {
    margin: 0 auto;
}

.borded {
    border: 2px solid #f3f3f3;
}

.text-center {
    text-align: center;
}

.p-10{
    padding: 10px;
}









/* specifics */
body {
    font-family: "Inter";
    font-size: 16px;
}

header {
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.logo {
    width: 100px;
}


.menu-item {
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    transition: .3s;
}


.menu-link:hover {
    color: #0061fe;
}

.btn {
    padding: 5px 10px;
    border: none;
    font-family: "Inter";
    text-align: center;
}

.btn-primary {
    background-color: #0061fe;
    color: white;
}

.jumbo {
    background-color: #b4d0e6;
    padding-top: 150px;
}

.jumbo-content {
    margin: 0 auto;
}

.title {
    font-size: 80px;
    font-weight: 900;
}

.jumbo-img-section {
    position: relative;
    top: 100px;
}

.jumbo .btn {
    padding: 10px 20px;
}

.arrow {
    font-size: 70px;
    margin-top: 70px;
}

.hr {
    margin: 150px 0 50px 0;
    height: 2px;
    background-color: #f3f3f3;
}

.subtitle {
    font-size: 50px;
    margin-bottom: 50px;
}

input[type="radio"] {
    margin-right: 5px;
}

.input-plan span {
    margin-right: 30px;
}

.plan {
    align-items: stretch;
    margin: 50px 0;
}

.plan-info {
    padding: 50px 20px;
}

.plan-name {
    font-size: 30px;
    margin-bottom: 20px;
}

.plan-prize {
    font-weight: 600;
    margin-bottom: 20px;
}

.currency {
    color: gray;
    margin-bottom: 50px;
}

.service-icon {
    margin-right: 10px;
}

.service-description {
    margin-bottom: 20px;
}

.plan-info .btn {
    padding: 20px;
}

.blue-link  {
    color: blue;
    text-decoration: underline;
}

.function li{
    list-style-type: none;
    margin-bottom: 20px;
}

.list-title {
    font-weight: 600;
}

.list-check {
    color: #0061fe;
    font-weight: 900;
    margin-right: 10px;
}

.enterprise-col-body {
    padding: 30px;
}

.enterprise-col-body h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.enterprise-col-content {
    margin-bottom: 50px;
}

.enterprise-col-content-right .btn {
    padding: 20px 50px;
}

.img-section {
    margin: 200px 0;
}

.img-section-right{
    padding: 50px 30px;
}

.img-section-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.btn-secundary {
    border: 2px solid black;
    background-color: transparent;
    padding: 10px 20px;
}

.feature-big {
    font-size: 50px;
    margin-bottom: 100px;
}

.feature-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.feature-content {
    margin-bottom: 200px;
}

footer {
    background-color: black;
    margin-top: 200px;
    padding: 100px 0 50px 0;
    color: white;
}

.foot-container {
    margin: 0 auto;
}

.foot-menu li {
    list-style-type: none;
}

.foot-menu-head {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.foot-menu-item {
    color: white;
    margin-bottom: 20px;
}

.language {
    color: gray;
}

.language p{
    margin: 0 10px;
}